{% extends "base.html" %}

{% block content %}
<div class="text-center" style="margin-bottom: 16px;">
  <a href="{{ url_for('create') }}">
    <button type="button" class="btn btn-primary">
      <i class="fas fa-plus"></i>
      New Article
    </button>
  </a>
</div>

{% for article in articles %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="card-body">
      <div class="card-title d-flex justify-content-between">
        <div><span class="h3">{{ article.title }}</span>
        <span class="badge badge-secondary">{{ article.category }}</span></div>
        <span>
          <a href="{{ url_for('update', id=article.id) }}" class="btn btn-primary">
            <i class="fas fa-edit"></i>
          </a>
          <!-- <a href="{{ url_for('delete', id=article.id) }}" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </a> -->
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-articleid="{{ article.id }}" data-articletitle="{{ article.title }}">
            <i class="fas fa-trash-alt"></i>
          </button>
        </span>
      </div>
      <div class="card-text">
        {% if article.image %}
          {% set path= 'uploads/' + article.image %}
          <img src="{{ url_for('static', filename=path) }}" style="float: left; width: 40%; margin: 0 24px 12px 0;">
        {% endif %}
        <small>Written: {{ article.created }}</small>
        {% set paras = article.content.split('\n') %}
        {% for p in paras %}
          {% if p %}
            <p>{{ p }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item{% if not prev_url %} disabled{% endif %}">
      <a class="page-link" href="{{ prev_url or '#' }}">
        <span aria-hidden="true">&larr;</span> Newer posts
      </a>
    </li>
    <li class="page-item{% if not next_url %} disabled{% endif %}">
      <a class="page-link" href="{{ next_url or '#' }}">
        Older posts <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the article <b id="articleTitle"></b>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="#" type="button" class="btn btn-primary" id="deleteBtn">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}