{% extends "base.html" %}

{% block content %}
<div class="text-center" style="margin-bottom: 16px;">
  <a href="{{ url_for('create') }}">
    <button type="button" class="btn btn-primary">
      <i class="fas fa-plus"></i>
      New Article
    </button>
  </a>
</div>

{% for article in articles %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="card-body">
      <div class="card-title d-flex justify-content-between">
        <span class="h3">{{ article.title }}</span>
        <small class="text-muted align-self-center">{{ article.category }}</small>
        <span>
          <button class="btn btn-primary">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </button>
        </span>
      </div>
      <div class="card-text">
        {% set path= 'uploads/' + article.image %}
        <img src="{{ url_for('static', filename=path) }}" style="float: left; width: 40%; margin: 0 24px 12px 0;">
        {% set paras = article.content.split('\n') %}
        {% for p in paras %}
          {% if p %}
            <p>{{ p }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}